@import 'variables';
@import 'fonts';

@import 'components/all';

html{
    scroll-behavior:smooth
}

body{
    background-color: $primary-body;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.terminal-wrapper{
    display: none !important;
}

.hide-mobile{
    display: none !important;
}

@media (min-width: 880px) {
    .terminal-wrapper{
        display: block !important;
    }

    .hide-mobile{
        display: flex !important;
    }
   
}